:root{
    --font-size:20px;
    --color: darkgrey;

    --gutter: calc(var(--font-size) * 2 );
}
@media (min-width: 600px){
    :root{
        --font-size:32px;
    }
}

#fullcontainer-index header{
    position: sticky;
    margin-top: 32px;
    display: inline-flex;

}
.menu{
    font-family: 'Courier New';
    color: #525252;
    position: relative;
}

header {
    position: fixed;
    top: 32px;
    left: 10px;
    width: calc(((100vw - 35px) / 90) * 84);
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

menu a{
    margin-right: 5px;}

.menu-item {
        border-radius: 20px;
        padding: 4px 8px 5.5px;
}

.channel-description {
    width: 345px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
} 

body {
    font-family: 'courier new';
    font-size: 12px;
    margin-left: 45px;
    margin-right: 45px;
    line-height: 1.3;
    font-weight: 400;
    overflow-x: hidden;
}

main {
    margin-top: 100px;
}

#title-homepage {
    position: fixed;
    top: 50%;
    left: 35px;
    width: calc(100% - 64px);
    transform: translateY(-50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 180px;
    color: #fff;
    mix-blend-mode: difference;
    z-index: 100;
    pointer-events: none;
}

.backgrid {
    background: transparent;
    background-image: linear-gradient(rgba(0,0,0,.055) 1px, transparent 1px), linear-gradient(90deg, rgba(0,0,0,.055) 1px, transparent 1px);
    background-size: 100px 20px;

}

.blocks {
    grid-column: span 13;
}

#full-container-index .blocks{
    display: block;
    filter: grayscale(1);
    transition: filter .3s linear;
}
.block-image{
    width: 700px;
}
.block-link, .block-text, .block-video {
    margin-bottom: 200px;

}

.project{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 1fr 5fr 2fr;
    margin-left: 50px;
    position: relative;

}
.video{
    display: 1800px;
}

.block-text {
        font-size: 50px;
        text-indent: 20%;
        line-height: 1.25;
        width: 900px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: left;
        margin-top: 100px;
    
    
}
p+p{
    margin-top: 1em;
}